{% assign user_url = site.url | append: site.baseurl %}

<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ user_url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout != 'default' %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

    <div class="sidebar-icons">
      <a href="{{ user_url }}{{ site.baseurl }}/atom.xml" class="icon icon-rss" title="RSS Feed"></a>
      <div class="icon inline-block contact-info">
        {% include linkedin.liquid %}
      </div>
      <div class="icon inline-block contact-info">
        {% include email.liquid %}
      </div>
    </div>
    <!-- Print-specific information -->

      <div class="contact-info">
      <h4>Tecnologies</h4>
      <p>
        Python - 
        Ruby - 
        Typescript - 
        C++
      </p>

      <p>
        Django - 
        NodeJs -
        PostgreSQL - 
        MongoDB -
        Kibana - 
        Elasticsearch -
        Redis
      </p>

      <p>
        React - 
        Vue - 
        CSS - 
        HTML
      </p>
      
      <p>
        Docker - 
        Kubernetes - 
        Terraform - 
        Ansible - 
        AWS 
      </p>

      <p>
        Linux - 
        Bash - 
        Git
      </p>

      <h4>Languages</h4>
      <p>
        Catalan -
        English - 
        Spanish 

    </div>
  </div>
</div>
